*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#cartas {
    display: flex ;
    background-color: black;
    animation-name: animacion;
    animation-duration: 5s;
    animation-timing-function: linearGradient;
    animation-iteration-count: infinite;
}

@keyframes animacion {
    0% {background: goldenrod;}
    25% {background: black;}
    50% {background: goldenrod;}
    75% {background: black;}
    100% {background: goldenrod;}
}

#mapa {
    display: flex;
}

#auto__1 {
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
}

.texto__1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.img__1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#auto__2 {
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
}

.texto__2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.img__2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#auto__3 {
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
}
.texto__3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.img__3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

