*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#cartas {
    display: flex ;
    background-color: black;
    animation-name: animacion;
    animation-duration: 5s;
    animation animation-delay: 0s;
    animation-timing-function: linearGradient;
    animation-iteration-count: infinite;
}

@keyframes animacion {
    0% {background: goldenrod;}
    25% {background: black;}
    50% {background: goldenrod;}
    75% {background: black;}
    100% {background: goldenrod;}
